.input-group-btn.input-space {
  padding-left: 15px;
}

.navbar{
  background-color: rgb(250, 250, 250);
  border-color: 10px solid rgb(8, 8, 8);
  color: black;
  
  
 }
 .dasboard-text{
  color: rgb(99, 96, 96);
  font-size: 130%;
  }
