<div class="displayTable">
  <div class="displayTableCell" style="background-color: #FFFFFF;">

    <div style="display: flex;justify-content: center;height: 300px;">
      <img class="brand-logo" src="assets/LOGO.png" alt="AgeMob Logo" style="height: 150px;">
    </div>

    <div class="authBlock">
      <h3 style="color: #515353;">Sign In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <button class="btn btn-primary" type="button"  value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)" (click)="this.activateLoadAnimation()">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="false" [hidden]=this.loadAnimation></span>
          Log in
        </button>
      </div>


  </div>
</div>
