<!-- Top navigation -->
<nav class="navbar fixed-top ">
  <a>
    <img class="brand-logo" src="assets/LOGO.png" alt="AgeMob Logo" style="height: 60px;">
    <span class="dasboard-text">Student List</span>
  </a>
</nav>




<!-- Sidebar navigation -->
<div class="container-fluid" >
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active"  (click)="authService.goToDash()">
              <i class="fas fa-plane" ></i>Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  (click)="authService.goToProjectHome()">
              <i class="fas fa-folder-open"></i>{{selectedProject}}
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2"><i class="fas fa-user"></i> Student List</h1>
        </div>


        <table class="table1">
          <thead>
            <tr>
              <th scope="col">Student</th>
              <th scope="col">Document</th>
              <th scope="col" style="width:10%">OLS test</th>
              <th scope="col" style="width:10%">Tickets</th>
              <th scope="col">Mid-term check</th>
              <th scope="col">Final check</th>
              <th scope="col" style="width:10%">Tickets</th>
              <th scope="col"style="width:10%">OLS test</th>
              <th scope="col"style="width:10%">Report</th>
            </tr>
          </thead>
          <tbody>



            <tr *ngFor="let student of students">

              <td style="padding: 0px;width: 200px;">
                <div  style="display: flex;flex-direction: row;">
                  <button type="button" class="btn btn-outline-dark fas fa-user-cog" (click)="getUserCredential(student)" style="padding: 5px;" id="{{'credentialButton' + student}}"></button>
                  <button type="button" class="btnName btn-outline-dark btn-outline-dark" (click)="openModal(student)">{{student}}</button>
                </div>
              </td>

              <div class="backdrop" [ngStyle]="{'display':displayCredential}">
              </div>
              <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayCredential}">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">User Credential</h4>
                      <button type="button" class="close" aria-label="Close"  (click)="onCloseHandled()"> <span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                      <p>username: {{email}} <span class="btn btn-space"></span></p>
                      <p>password: {{password}} <span class="btn btn-space"></span>
                        <input type="text" class="form-contol" #inputPsw value={{password}}><span class="btn btn-space"></span>
                      </p>
                      <p>
                        <button type="button" class="btn btn-outline-dark " (click)="generateCredential(inputPsw.value)">Generate</button>
                      </p>

                    </div>
                    <div class="modal-footer" style="justify-content: space-between;">
                      <button class="btn btn-primary" (click)="onCloseHandled()">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
              </div><!-- /.modal !-->

                <!-- First Modal-->
                <div class="backdrop" [ngStyle]="{'display':display}">
                </div>
                <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">{{nome}}</h4>
                          <button type="button" class="close" aria-label="Close"  (click)="onCloseHandled()"> <span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                        <p>email: {{email}} <span class="btn btn-space"></span></p>
                        <p>contact: {{contact}} <span class="btn btn-space"></span></p>
                        <div class="panel panel-primary" id="result_panel">
                            <div class="panel-heading"><h4 class="panel-title">Notification History</h4>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor = 'let message of messages' style="border: solid 2px;"><strong>{{message}}</strong></li>
                                </ul>
                            </div>
                        </div>
                        <span class="input-group-btn input-space"></span>
                      </div>
                      <div class="modal-footer">
                        <button class="btnSave" (click)="onCloseHandled()">Close</button>
                        <button class="btnSave" (click)="closeAndOpen()">Edit</button>

                          <!-- Edit modal-->
                          <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display1}">
                            <div class="modal-lg modal-dialog modal-dialog-centered" style ="width: 30%" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{nome}}</h4>
                                    <button type="button" class="close" aria-label="Close"  (click)="onCloseHandled()"> <span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                  <p>email: <input type="text" class="form-contol" #input value={{email}}><span class="btn btn-space"></span></p>
                                  <p>contact: <input type="text" class="form-contol" #input2 value={{contact}}><span class="btn btn-space"></span></p>
                                  <span class="input-group-btn input-space"> </span>
                                </div>
                                <div class="modal-footer">
                                  <button class="btnSave" (click)="onCloseNewModal()">Close</button>
                                  <button class="btnSave" (click)="modifiedField(input.value,input2.value,nome)"(click)="onCloseNewModal()">Save</button>
                                </div>

                              </div><!-- /.edit modal-content -->
                            </div><!-- /.edit modal-dialog -->
                          </div><!-- /.edit modal !-->
                          <!--end Edit modal-->


                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal !-->
                <!-- end modal-->


                <td><div class="col text-center">
                  <div style="display: flex;flex-direction: row;">
                    <button type="button" class="btnDUV ">Download</button>
                  <button type="button" class="btn btn-outline-danger fas fa-bell" style="border: none;" (click)="sendNotification(student,'devi caricare le foto dei tuoi documenti')"></button>
                </div>
              </div></td>

                <td><div class="col text-center" >
                  <div style="display: flex;flex-direction: row;">
                    <button type="button" class="btn btn-outline-dark btn-space" style="width: 110%" (click)="changeValueOls1(student)"id="{{'ols1'+student}}"></button>
                    <button type="button" class="btn btn-outline-danger fas fa-bell" style="border: none;" (click)="sendNotification(student,'devi fare il test ols')"></button>
                  </div>
                  </div></td>

                <td><div class="col text-center">
                      <div style="display: flex;flex-direction: row;">
                        <button type="button" class="btnDUV" (click)="openModalUpload(student,'departure')" id="{{'departureTicketUploadButton' + student}}">Upload</button>
                        <button type="button" class="btn btn-outline-danger fas fa-bell" style="border: none;" (click)="sendNotification(student,'sono stati caricati i biglietti di andata')"></button>
                      </div>
                  </div>

                  <div class="backdrop" [ngStyle]="{'display':displayUpload}">
                  </div>
                  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayUpload}">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Upload Document</h4>
                          <button type="button" class="close" aria-label="Close"  (click)="onCloseHandled()"> <span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">

                        <uploader></uploader>


                      </div>
                        <div class="modal-footer" style="justify-content: space-between;">
                          <button type="button" class="btn btn-outline-dark" [ngStyle]="{'display':displayDownloadDepartureTicket}">
                            <a [href]="departureTicketUrl" target="_blank" rel="noopener">Download</a>
                          </button>
                          <button class="btn btn-primary" (click)="onCloseHandled()">Close</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                  </div><!-- /.modal !-->


                </td>

                <td>
                  <div class="col text-center">
                    <div style="display: flex;flex-direction: row;">
                      <button type="button" class="btnDUV " style="width: 70px" >View</button>
                      <button type="button" class="btn btn-outline-danger fas fa-bell" style="border: none;" (click)="sendNotification(student,'devi inviare la prima ruota del tirocinio')"></button>
                    </div>
                  </div>
                </td>
                <td> <div class="col text-center">
                  <div style="display: flex;flex-direction: row;">
                    <button type="button" class="btnDUV " style="width: 80px" >View</button>
                    <button type="button" class="btn btn-outline-danger fas fa-bell" style="border: none;" (click)="sendNotification(student,'devi inviare la seconda ruota del tirocinio')"></button>
                  </div>
                </div></td>







                <td><div class="col text-center">
                  <div style="display: flex;flex-direction: row;">
                    <button type="button" class="btnDUV" (click)="openModalUpload(student,'return')" id="{{'returnTicketUploadButton' + student}}">Upload</button>
                    <button type="button" class="btn btn-outline-danger fas fa-bell" style="border: none;" (click)="sendNotification(student,'sono stati caricati i biglietti per il rientro')"></button>
                  </div>
              </div>

              <div class="backdrop" [ngStyle]="{'display':displayUpload}">
              </div>
              <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayUpload}">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Upload Document</h4>
                      <button type="button" class="close" aria-label="Close"  (click)="onCloseHandled()"> <span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">

                    <uploader></uploader>


                  </div>
                    <div class="modal-footer" style="justify-content: space-between;">
                      <button type="button" class="btn btn-outline-dark" [ngStyle]="{'display':displayDownloadDepartureTicket}">
                        <a [href]="departureTicketUrl" target="_blank" rel="noopener">Download</a>
                      </button>
                      <button class="btn btn-primary" (click)="onCloseHandled()">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
              </div><!-- /.modal !-->


            </td>







                <td> <div class="col text-center">
                  <div style="display: flex;flex-direction: row;">
                    <button type="button" class="btn btn-outline-dark" style="width: 80px" (click)="changeValueOls2(student)" id="{{'ols2'+student}}" ></button>
                    <button type="button" class="btn btn-outline-danger fas fa-bell" style="border: none;" (click)="sendNotification(student,'fare il test ols finale')"></button>
                  </div>
                  </div></td>
                <td> <div class="col text-center">
                  <div style="display: flex;flex-direction: row;">
                  <button type="button" class="btn btn-outline-dark" style="width: 80px" (click)="changeValueReport(student)" id="{{'report'+student}}"></button>
                  <button type="button" class="btn btn-outline-danger fas fa-bell" style="border: none;" (click)="sendNotification(student,'fare il report finale')"></button>
                  </div>
                </div></td>

            </tr>

          </tbody>
      </table>



      <p></p>
      <button type="button" class="btn btn-outline-dark" (click)="openModalNewStudent()"><i class="fas fa-user-plus"></i>New Student</button>


      <!--New Student-->
      <div class="backdrop" [ngStyle]="{'display':display2}">
      </div>
      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display2}">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New student</h4>
                <button type="button" class="close" aria-label="Close"  (click)="onCloseModalNewStudent()"> <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p style="display: flex;justify-content: space-between;">Name: <input type="text" class="form-contol" #input style="width: 80%;"> </p>
              <p style="display: flex;justify-content: space-between;">Email:<input type="text" class="form-contol" #input1 style="width: 80%;"> </p>
              <p style="display: flex;justify-content: space-between;">Number: <input type="text" class="form-contol" #input2 style="width: 80%;"></p>
            </div>
            <div class="modal-footer">
              <button class="btnSave" (click)="onCloseModalNewStudent()">Close</button>
              <button class="btnSave" (click)="onCloseModalNewStudent()"(click)="addStudent(input.value, input1.value, input2.value)">Save</button>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal !-->



      </div>
    </main>

  </div>
</div>

